.App {
	text-align: center;

	button {
		font-weight: bold;
		width: 50px;
		height: 25px;
	}
}

.calculator {
	width: 150px;
	margin-left: 40%;
	margin-top: 12%;
}

.input-box {
	width: 120px;
}

.buttons {
	margin-top: 10%;
}